@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(212deg, #80b2a8, #3eebd3);
}

body table
{
    max-width: 900px;
    width: 100%;
    border-collapse: collapse;
}

th, td
{
    border: 1px solid #777;
    text-align: left;
    padding: 8px;
    max-width: 150px;
}

td
{
    overflow-x: scroll;
    resize: none;
}

td::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
}


tr:nth-child(even) {
    background-color: #ddd;
}

tbody tr:nth-child(odd) {
    background-color: rgb(207, 204, 204);
}

thead
{
    background: #ff4500;
    color: #fff;
}

.search-area
{
    background: #fff;
    padding: 30px 10px;
    max-width: 900px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-area input
{
    display: block;
    width: 100%;
    padding: 4px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #bfbfbf;
}

.search-area input:focus
{
    border-color: #ff4500;
}

.search-area input:focus::placeholder
{
    color: #ff4500;
}

h3
{
    max-width: 900px;
    width: 100%;
    padding: 20px 10px;
    background: #f2dede;
    border-radius: 8px;
    margin-top: 15px;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: #a94442;
}

@media (max-width: 910px) {
    body
    {
        padding: 30px 15px;
    }
}

@media (max-width: 580px) {
    th, td
    {
        max-width: 100px;
        width: 100%;
    }
}

@media (max-width: 450px) {
    th, td
    {
        width: auto;
    }
}
