@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(248deg, #65da1d, #2cd709);
}

.wrapper
{
    max-width: 500px;
    width: 100%;
    padding: 30px 15px;
    background: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.wrapper form
{
    width: 100%;
}

.wrapper h1
{
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.wrapper input
{
    display: block;
    width: 100%;
    font-size: 1rem;
    padding: 4px;
    outline: none;
    border: 1px solid #bfbfbf;
    margin-bottom: 6px;
}

.wrapper form button
{
    font-size: 1rem;
    background: #ff4500;
    outline: none;
    border: 2px solid #ff4500;
    padding: 4px 20px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.wrapper form button:hover
{
    background: transparent;
    color: #ff4500;
    transition: .3s;
}

.wrapper .link
{
    margin-top: 20px;
    color: #333;
    width: 100%;
    text-align: right;
}

.wrapper .link a
{
    color: #ff4500;
}

.wrapper .link a:hover
{
    text-decoration: underline;
}

.error
{
  margin-bottom: 6px;
  width: 100%;
  text-align: left;
  padding: 5px 10px;
  border: 1px solid #a94442;
  font-size: 1rem;
  background: #f2dede;
  color: #a94442;
}