*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(297deg, #09bdf7, #87eab6);
}

a{
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background: #333;
    border-radius: 5px;
}